@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --color-gold: #F3C623;
  --color-navy: #092F54;
  --color-navy-soft: #0E3D6B;
  --color-hadir: #16a34a;
  --color-izin: #ca8a04;
  --color-alpha: #dc2626;
  --color-belum: #9ca3af;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #F3C623;
  color: #092F54;
}
